body
  background-color white
	font-family: "Helvetica Neue", sans-serif

.dot
  stroke-width: 1px;
  fill-opacity: .6;

.dot.a 
  stroke: steelblue;
  fill: steelblue;

.dot.b 
  stroke: tomato;
  fill: tomato;

.connect-line
  stroke: #ccc;
  stroke-width: 1px;
